.card {
  @media all and (min-width: 768px) {
    grid-column: span 1;
  }
  width: 300px;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 37%);
  border-radius: 25px;
  box-sizing: border-box;
  margin: 20px;
  list-style: none;
  box-shadow: -1px -6px 60px 0px rgba(136, 214, 47, 1);
  &--link {
    text-decoration: none;
    color: white;
  }
  &--img {
    width: 300px;
    &__photo {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      width: 100%;
    }
  }
  &--text {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
