.card {
  @media all and (min-width: 768px) {
    grid-column: span 1;
  }
  width: 300px;
  background-color: #1e6d56;
  border-radius: 25px;
  box-sizing: border-box;
  margin: 20px;
  list-style: none;
  &--link {
    text-decoration: none;
    color: white;
  }
  &--img {
    width: 300px;
    &__photo {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      width: 100%;
    }
  }
  &--text {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
