.modal {
  position: fixed;
  top: 30%;
  left: 8%;
  background-color: #e89ac7;
  width: 500px;
  transform: translate(20vw);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  box-shadow: 10px 14px 62px 0px rgba(0, 0, 0, 0.75);

  &--link {
    display: block;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &--img {
    border-radius: 20px;
  }
  &--text {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
  }
}
@media all and (max-width: 768px) {
  .modal {
    flex-direction: column;
    width: 330px;
    top: 30%;
    left: -13%;
  }
}
